@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: white;
  width: 100%;
}

.Header{
color: white;
background-color: midnightblue;
font-size: 20px;
display: flex;
justify-content: space-between;
padding: 10px;
text-align: center;
justify-content: center;
}

.HeaderList{
  display: flex;
  gap: 30px;
  font-family: 'Times New Roman', Times, serif;  
}


@media only screen and(max-width:500px){
  .HeaderList{
    display: flex;
    gap: 20px;
    font-family: 'Times New Roman', Times, serif;  
  }
}

@media only screen and(max-width:500px){
  .Header{
   
    font-size: 10px;
  }
  
}





.home{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
}
.profile{
  padding: 50px;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: midnightblue;
}

.asifa{
  color: rgb(55, 133, 163);
}

.profileImage{
  margin-right: 100px;
}


.contact{
 
  text-align: justify;
  margin: 100px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: midnightblue;
    
}


.about{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin: 15px;
  color: midnightblue;
 
}

h4{
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  color: midnightblue;
}

.education{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin: 15px;
  color: midnightblue;
}

.certificate{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin: 15px;
  color: midnightblue;
}



